[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
dj-database-url = "*"
pymysql = "*"
django-cloudinary-storage = "*"
cloudinary = "*"
numpy = "==1.26.4"
opencv-python = "*"
rembg = "*"
torch = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.20"
